/**
 *  @File           profile-generator.css
 *  @Authors        Jose Flores
 *                  jose.flores.152@gmail.com
 *
 *  @Description    This is the profile-generator CSS file it
 *
 *  @changelog
 *  4/20/14         compressed with all options via
 *                  http://www.csscompressor.com/,
 *                  note that the gradients cannot be compressed
 */
 div.profile{margin-top: 45px;padding: 20px 0;
margin: 0px;}
 .profile h3 {color: #333; margin-top: 0px;
text-transform: uppercase;}
 div.pane-left {

font-size: 10px;
min-height: 150px;
/* border-bottom: 8px solid #456784; */
height: 10px;
margin-left: 160px;

/* padding-left: 20px; */
}
div.pane-center {
    margin-left: 138px;
/* float: left; */
/* height: 100%; border-left: 8px solid #456784;*/

/* margin-bottom: -1000px; */
/* padding-bottom: 1000px; */
padding-left: 20px;
}
div.pane-right {
    float: left;
    padding-left: 10px;
}
div.pane-right > ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
    margin-top: 15px;
}
div.pane-right > ul > li {
    font-size: 20px;
    margin: 0 0 0 10px;
    padding:0px;
}
div.pane-right > ul > li > a {
    font-size: 18px;
    color: #456784;
    cursor: pointer;
    padding: 2px 0;
    font-weight: bold;
}
div.pane-right > ul > li > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
   /* display:none;*/
}

div.pane-right > ul > li > ul > li {
    color: #999;
    margin: 0px;
    padding: 0px;
}
div.pane-right > ul > li > ul > li > a {
    font-size:15px;
    color: #666;
    text-transform: uppercase;
    height:20px;
    margin:0 0 0 10px;
    cursor: pointer;
    display:block;
    padding:4px 0 ;
}
div.pane-right > ul > li > ul > li > ul {
    list-style-type: square;
    margin: 0px 0px 5px 36px;
    padding: 0px;
    height: auto;
    line-height: 14px;
}
div.pane-right > ul > li > ul > li > ul > li {
    margin:0px;
    padding:0px;
    color: #456784;
}
div.pane-right > ul > li > ul > li > ul > li > a {
    color: #456784;
    font-size: 14px;
    margin-left: -10px;
    cursor: pointer;
    padding: 2px 0;
}
li, a {
    display:block;
}

div.pane-right > ul > li > ul {
    display:none;
}
div.pane-right > ul > li:first-child > ul  {
    display:block;
}

.profile-generator-picture img {width:140px;height:140px;}
.profile-generator-picture,
.profile-generator-name-card{ float:left;}

.profile-generator-name-card table { padding: 0px 10px; }
.profile-generator-name-card table th { text-align:right; font-size: 15px;}
.profile-generator-name-card table td {font-size: 14px; padding-left: 20px;text-align:left; }

.media-wrapper {
    border: 1px solid #456784 ;
    float: left;
    padding:10px;
}

.img-title {
    font-size: 10px;
color: #456784;
padding: 10px 0 0px 0;
min-width:600px;
}
.media-wrapper img,
.media-wrapper media,
.media-wrapper pre {
    border:1px solid #333 ;
    width: 600px;
overflow-wrap: break-word;
}

.wrapper {padding-bottom: 10px;}
.pane-center-input{
    margin-left: 160px;
    margin-bottom: 10px;
}
.pane-center-input textarea {
width: 625px;
font-size: 15px;
height: 40px;
line-height: 15px;
padding: 10px;
margin-bottom: 10px;
}


#file , #profile {
    display:none;
}

.ui-button {margin: 4px 0;}
#result,
#profileResult { margin: 4px 10px;
font-size: 12px;
line-height: 12px;}
