/**
 *  @File			toolbar-tabs.css
 * 	@Authors		Jose Flores
 * 					jose.flores.152@gmail.com
 * 	
 * 	@Description	This is the toolbar-tabs CSS file it 
 * 
 * 	@changelog		
 * 	4/20/14			compressed with all options via 
 * 					http://www.csscompressor.com/, 
 * 					note that the gradients cannot be compressed
 */
 
#dialog label,#dialog input{display:block}
#dialog label{margin-top:.5em}
#dialog input,#dialog textarea{width:95%}
#tabs{border:none;/* margin-top:1em *//* position: fixed; *//* top: 130; */width: 100%;height: 30px;}
#tabs li .ui-icon-close{cursor:pointer;float:left;/* margin:.4em .2em 0 0 */}
#add_tab{cursor:pointer}
div.profile{/* margin-top: 30px; */}
div.toolbar-tabs{ position:fixed; top:130; width: 100%; margin: 0px; padding: 0px;}
