/**
 *  @File			toolbar-menu.css
 * 	@Authors		Jose Flores
 * 					jose.flores.152@gmail.com
 * 	
 * 	@Description	This is the toolbar-menu CSS file it 
 * 
 * 	@changelog		
 * 	4/20/14			compressed with all options via 
 * 					http://www.csscompressor.com/, 
 * 					note that the gradients cannot be compressed
 */
 
div.toolbar-menu{ margin-top:2px; position: fixed; top: 100; background:#fff;border-bottom:1px solid #888;float:left; height: 30px;min-width:1100px;width:100%;color:#000; z-index: 2;}
div.toolbar-menu > ul{background:#fff;float:left;height: 30px;line-height: 30px;list-style:none;margin:0;padding:0;width:100%}
div.toolbar-menu > ul > li{display:inline-block;float:left;height: 30px;margin:0;padding: 0 10px;font-size: 13px;text-transform: uppercase;}
div.toolbar-menu > ul > li > ul{border-left:1px solid #888;border-right:1px solid #888;box-shadow:2px 2px 2px #888;display:none;font-size:13px;line-height:25px;list-style-type:none;margin:2px 0 0 -5px;padding:0;position:absolute;/*width:180px;*/z-index:40;/* position: relative; */top: 24;}
div.toolbar-menu > ul > li:hover > ul{background: #fff; display:block;list-style-type:none; }
div.toolbar-menu > ul > li > ul > li{height:25px;margin:0;padding:0;/*width:180px*/}
div.toolbar-menu ul > li > ul > li:hover{background:#e5e5e5}
div.toolbar-menu > ul > li > ul > li.divider{background:#ddd;height:1px;margin:5px 15px;padding:0;width:150px}
a.toolbar-menu{float:left;height:25px;/*width:180px*/}
div.toolbar-menu-image{background-image:url(../img/jquery-ui/ui-icons_222222_256x240.png);background-repeat:no-repeat;float:left;height:16px;margin: 4px 4px;width:16px}
div.toolbar-menu-title{float:left;height:25px;min-width:150px; max-height: 20px;padding-right:10px;
/*max-width: 150px;*/color: #333;}
